Flask==0.12
Flask-Login==0.4.0
Flask-SQLAlchemy==2.1
Flask-SocketIO==2.8.2
Flask-WTF==0.14.2
Jinja2==2.9.5
MarkupSafe==0.23
SQLAlchemy==1.1.5
Tempita==0.5.2
WTForms==2.1
Werkzeug==0.11.15
click==6.7
decorator==4.0.11
itsdangerous==0.24
pbr==1.10.0
python-engineio==1.1.2
python-socketio==1.6.3
rauth==0.7.3
requests==2.13.0
six==1.10.0
sqlalchemy-migrate==0.10.0
sqlparse==0.2.2
