<html>
<head>
    <link rel= "stylesheet" type = "text/css" href = "{{ url_for('static', filename='styles/base.css') }}" />
    {% if title %}
        <title>{{ title }} -- OpenAnswer</title>
    {% else %}
        <title>Welcome to OpenAnswer</title>
    {% endif %}
</head>
<body>
<div>OpenAnswer:
    <a href="{{ url_for('home') }}">Home</a>
    {% if not current_user.is_anonymous %}
        | <a href="{{ url_for('chat') }}">Chat</a>
        | <a href="{{ url_for('user', username=current_user.username) }}">Your Profile</a>
        | <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
</div>


{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% block content %}{% endblock %}
</body>
</html>
